<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/hoja.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>MiContact</title>
</head>
<body>
    <section id="contact_" class="contact_">

        
        <hr id="hr_t">
                    <h1>Información personal-Contacto</h1>
                    <div id="cards_">
                            <div id="card_">
                                <div><i class="fa-solid fa-location-dot"></i>
                                </div>
                                <div id="tit_"><p>Ubicación</p></div>
                                <hr id="hr_c">
                                <div><p id="pa_">Bogota </p></div>
                                <div><p id="pa_">Colombia </p></div>
                            </div>
                            <div id="card_">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28891.441073342325!2d-74.12051824099608!3d4.7022007737126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoSwgQm9nb3Rh!5e0!3m2!1sen!2sco!4v1666443779665!5m2!1sen!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <div id="card_">
                                <div><i class="fa-solid fa-mobile"></i></div>           
                                <div id="tit_">Contacto</div>
                                <hr id="hr_c">
                                <div><p id="pa_">tel: 000000</p></div>
                                <div><p id="pa_">mov: 000000</p></div>
                                <div><p id="pa_">ms: 00000</p></div>
                            </div>
                            <div id="card_">
                                <div><i class="fa-solid fa-paper-plane"></i></div>
                                <div id="tit_"><p>Redes</p></div>
                                <hr id="hr_c">
                                <div><p id="pa_">Twitter:</p></div>
                                <div><p id="pa_">Skype:</p></div>
                                <div><p id="pa_">ig:</p></div>
                            </div>
                            
                    </div>

                    <div id="red_2">
                            <hr id="hr_t">
                            <h1>Repos\redes</h1>
                            
                            <div id="repo">
                                <div id="git">
                                        <a href="https://github.com/DavidForero120?tab=repositories"><i class="fa-brands fa-github"></i></a>
                                </div>
                                <div id="git">
                                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                                </div>
                                <div id="git_l">
                                        <a href="https://gitlab.com/dashboard/projects"><i class="fa-brands fa-gitlab"></i></a>
                                </div>
                            </div>
                    </div>
                    
    </section>
</body>
</html>