<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/hoja.css">
    <title>Document</title>
</head>

<body>
       <div id="hoja_container">
            <%-include('templates/nave'); %>    
        </div>
        
        <section id="about" class="about">
              
              <h1 id="name_"><%=nombre %></h1>
              <div id="info_about">
              <h2>sobre mí</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae porro similique accusamus consequuntur et earum reprehenderit sed eos necessitatibus officiis placeat quo nostrum magni ullam veniam iure, exercitationem dolor v</p>
              </div>
              <div id="info_personal">
                    <h2>Información personal</h2>
                    <p>David Forero</p>
                    <p>21/08/2004</p>
                    <p>Colombiano</p>
                    <p>Desarrollador software</p>
              </div>
        </section>

        <section id="resume_" class="resume_">
              
            <h1 id="name_R">Resumen</h1>
            <div id="exp_R">
                  <hr id="hr">
                  <p id="p">Experiencia</p>
                  <div id="exp_p">
                        <P>"6 meses de" Trabajo en la empresa Niken-Colombia como desarrollador y analista en sistemas de información. </P>
                  </div>
                  <div id="exp_p">
                        <p>Desarrollo de un proyecto para la gestión de las ventas para un negocio bar7cueros.</p>
                  </div>
            </div>
            <div id="education_R">
                  <hr id="hr">
                  <p id="p">Educación</p>
                  <div id="est_p">
                        <p>Tecnico en programacion de software.</p>
                        <p> (2020-2021) </p>
                  </div>
                  <div id="est_p">
                        <p>Tecnologo en analisis y desarrollo en sistemas de infomacion.</p>
                        <p>(2022)</p>
                  </div>
            </div>
            <div id="conoci_R">
                  <hr id="hr">
                  <p id="p">Conocimientos\Herramientas.</p>
                        <div id="con_p">
                              <div id="herr">
                                    <p>Java</p>
                                    <p>JavaScript</p>
                                    <p>php</p>
                                    <p>Html</p>
                                    <p>Css</p>
                                    <p>React</p>
                                    <p>Express</p>
                                    <p>Bootstrap</p>
                                    <p>Mysql</p>
                                    <p>Json</p>
                              </div>
                              <div>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                                    <p>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="li" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                          <i id="od" class="fa-solid fa-star"></i>
                                    </p>
                              </div>
                        </div>
            </div>
            
      </section>

      

  </div>
  <script src="../js/eventos.js"></script>
</body>
</html>