<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/hoja.css">

    <title>Document</title>
</head>
<body>
    <div id="hoja_container">
        <div id="head">
              <div id="perfil">
                    <div id="img_perfil">
                    <img src="img/perfilD.jpeg" alt="">
                    <p id="name_p">David Forero</p>
                    </div>
              </div>
              <nav id="nav">
                    <div  class="options">
                    <button id="butt1"><i class="fa-solid fa-user"></i><p id="but_p">sobre mi</p></button>
                    <button id="butt2"><i class="fa-solid fa-box-archive"></i><p id="but_p">Resumen</p></button>
                    <button id="butt3"><i class="fa-solid fa-camera-retro"></i><p id="but_p">Portafolio</p></button>
                    <button id="butt4"><i class="fa-sharp fa-solid fa-phone"></i><p id="but_p">Contact</p></button>
                    </div>
              </nav>
        </div>
        <section id="about" class="about">
              
              <h1 id="name_"><%=nombre %></h1>
              <div id="info_about">
              <h2>sobre mí</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae porro similique accusamus consequuntur et earum reprehenderit sed eos necessitatibus officiis placeat quo nostrum magni ullam veniam iure, exercitationem dolor v</p>
              </div>
              <div id="info_personal">
                    <h2>Información personal</h2>
                    <p>David Forero</p>
                    <p>21/08/2004</p>
                    <p>Colombiano</p>
                    <p>Desarrollador software</p>
              </div>
        </section>

  </div>
  <script src="js/eventos.js"></script>
</body>
</html>