*{
      margin: 0;
}
#hoja_container{
      width: 100vw;
      height: 100vh;
      max-width: 1500px;
}
#img_perfil img{
      margin-top: 10%;
      width: 50%;
      border-radius: 15px;
      
}
#img_perfil{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
#name_p{
      margin-top: -8%;
      color: white;
      background-color: rgba(0, 0, 0, 0.651);
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2em;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
}
#nav{
      width: 100vw;
      display: flex;
      justify-content: center;
      margin-top: 5%;
      width: 100%;
      
}
#but_p{
      display: none;
}
#butt1, #butt2, #butt3, #butt4{
      width: 4em;
      background-color: black;
      border-radius: 5px;
      
}#butt1 i, #butt2 i,  #butt3 i, #butt4 i{
      color: indigo;
      font-size: 1.2em;
}
#butt1:hover, #butt2:hover, #butt4:hover{
      background-color: black;
      color: white;
      transition: 0.8s;
}
#butt1 i:hover, #butt2 i:hover, #butt4 i:hover{
      color: white;
      transition: 0.5s;
}
.options{
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
      height: 3em;
      flex-wrap: wrap;
}
.about{
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10%;
      display: none;
}
#info_about{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5%;
      gap: 10px;
      margin-top: 3%;
}
#info_about p{
      display: flex;
      text-align: justify;
      line-height: 25px;
}
#info_about h2{
      background-color: black;
      color: white;
      width: 100%;
      height: 1.7em;
      font-size: 1.2em;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
}
#name_{
      font-size: 1.4em;
}
#info_personal{  
      display: flex;
      flex-direction: column;
      padding: 5%;
      gap: 10px;
      width: 90%;
}
#info_personal h2{
      background-color: black;
      color: white;
      width: 100%;
      height: 1.7em;
      font-size: 1.2em;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
}#info_personal p{
      padding: 2%;
      margin-left: 3%;
}.active{
      display: flex;
}

/*---------------Resume---------------------*/
.resume_{
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      padding: 5%;
      display: none;
}
.res{
      display: flex;
}
#name_R{
      margin-bottom: -5%;
}
.resume_ h1{
      width: 100%;
      height: 1.7em;
      font-size: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
}
#hr:hover{
      background-color: rgb(255, 255, 0);
      border: yellow;
      transition: 1s;
}
#hr{
      width: 1.5em;
      height: 0.5em;
      background-color: black;
      border: black;
      margin-bottom: 2%;
      margin-top: 5%;
}
#exp_R{
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.2em;
      
}
#exp_p{
      margin-top: 3%;
      margin-bottom: 3%;
      line-height: 25px;
}
#education_R{
      margin-top: 5%;
      display: flex;
      flex-direction: column; 
      align-items: center;   
}
#p{
      font-size: 1.5em;
      font-weight: bold;
}
#est_p{
      width: 100%;
      margin-top: 3%;
      margin-bottom: 3%;
      line-height: 25px;
      font-size: 1.2em;
}
#conoci_R{
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
}
#con_p{
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 5%;
}
#con_p div p{
      line-height: 30px;
}
#herr{
      font-size: 1.2em;
}
#od{
      color: rgb(36, 33, 33);
}
#li{
      color: rgb(239, 255, 8);
}


/*----------Contact--------------*/

.contact_ {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
.cont_off{
      display: flex;
}

.contact_ h1{
      text-align: center;
      font-size: 1.7em;
      margin-bottom: 5%;
}
#tit_{
      color: indigo;
}
#hr_t{
      width: 100%;
      background: black;
      height: 2px;
      margin-bottom: 5%;
}

#cards_{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}
#card_ iframe{
      height: 130px;
      width: 100%;
      padding: 0%; 
}

#card_{
      border: 1px solid rgb(110, 110, 110);
      padding: 5%;
      margin-top: 3%;
      margin-bottom: 3%;
      border-radius: 3px;
      height: 130px;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
}
#card_ i{
      font-size: 1.4em;
      color: indigo;
}
#hr_c{
      width: 100%;
      background-color: indigo;
}
#repo{
      width: 100%;
      display: flex;
      justify-content: space-around;
}
#repo i{
      font-size: 2em;
}
#git i{
      color: black;
}
#git_l i{
      color: orange;
}
@media screen and (min-width: 500px) {
      #name_p{
            margin-top: -5%;
      }
      #butt1, #butt2, #butt4 {
            width: 6em;
      }
      #butt1 i, #butt2 i, #butt4 i{
            font-size: 1.5em;
      }
      

      #about{
            margin-top: 8%;
      }
      #name_ {
            font-size: 1.8em;
            
      }
      #info_about p{
            font-size: 1.2em;
            margin-top: 5%;
            line-height: 30px;
      }
      #info_about h2{
            font-size: 1.4em;
      }
      #info_personal h2{
            font-size: 1.4em;
      }
      #info_personal p{
            font-size: 1.2em;
      }
      /*-----------Resume---------------*/
      #exp_p, #est_p{
            text-align: center;
            font-size: 1.29em;
            line-height: 30px;
      }
      #p{
            font-size: 1.7em;
      }
      #resume_ h1{
            font-size: 2.8em;
            margin-top: -4%;
      }
      /*------Contact-------------*/
      .contact_ h1 {
            font-size: 2em;
      }
      #card_{
            height: 150px;
            width: 25%;
      }#card_ i {
            font-size: 1.6em;
            margin-top: -2%;
      }
      #tit_ {
            font-weight: bold;
            font-size: 1.15em;
      }#cards_ {
            margin-bottom: 5%;
      }
      #pa_{
            font-size: 1.1em;
      }
      #repo i{
            font-size: 2.7em;
      }
      
}
@media screen and (min-width: 720px) {
      #hoja_container{
            display: flex;
      }#head{
            display: flex;
            flex-direction: column;
            width: 40%;
      }
      #img_perfil img{
            margin-top: 40%;
            width: 60%;
      }
      #name_p {
            margin-top: -11%;
            width: 60%;
      }
      .options{
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 30px;
      }#butt1, #butt2, #butt3, #butt4{
            width: 60%;
            height: 6em;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }#butt1 i, #butt2 i, #butt3 i, #butt4 i{
            font-size: 2.3em;
            color: black;
      }#but_p{
            display: flex;
      }#about {
            padding: 5%;
            margin-top: 0%;
            width: 50%;
      }#name_ {
            font-size: 2em;
            text-align: center;
      }

      /*------------Resume--------------*/

      #resume_ {
            width: 50%;
            padding: 0%;
      }
      #resume_ h1{
            display: none;
      }
      #exp_p, #est_p p {
            text-align: justify;
            font-size: 1em;
            /* line-height: 30px; */
      }
      /*------Contact------------*/
      #card_ {
            height: 160px;
      }#repo {
            width: 32em;
      }

}
@media screen and (min-width: 900px) {
      #about {
            margin-top: 3%;
            padding: 8%;
            margin-left: -10%;
      }#img_perfil img{
            border: 3px solid black;
      }#name_p {
            margin-top: -10%;
      }#head {
            width: 35%;
            margin-left: 5%;
      }
      /*-----------Resume-------------*/
      #resume_{
            margin-top: 0%;
      }#est_p{
            font-size: 20px;
      }#con_p { 
            justify-content: space-between;
        }
}
@media screen and (min-width: 1024px) {
      #head {
            width: 33%;
            margin-left: 6%;
            margin-top: -5%;
      }
      #name_p {
            margin-top: -9%;
      }
      #about {
            width: 42%;
            padding: 8%;
            margin-left: 0%;
            margin-top: -9%;
      }
      /*-------------Resume------------*/
      #resume_{
            margin-top: -5%;
      }
      #exp_p, #est_p p {
            font-size: 1.2em;
        }


        /*-----Contact-------*/
        #contact_{
            margin-top: 0%;

        }#card_ {
            height: 135px;
            width: 23%;
        }
}
@media screen and (min-width: 1200px) {
      #about {
            width: 37%;
            padding: 8%;
            margin-left: -4%;
            margin-top: -2%;
        }
        #name_{
            font-size: 1.5em;
            margin-top: 5%;
        }
            #name_p {
            width: 62%;
            height: 3em;
            margin-top: -20%;
            font-size: 1em;
      }#head{
            width: 20%;
            margin-top: -5%;
            margin-left: 20%;
      }
      #butt1 i, #butt2 i, #butt3 i, #butt4 i {
            font-size: 2em;
        }
        #about {
            margin-top: -25%;
            width: 37%;
            margin-left: -4%;
        }
        #hoja_container {
            /* display: flex; */
            padding: 5%;
        }
        /*---------Resume--------*/
        #p {
            font-size: 1.5em;
        }
        #exp_p, #est_p p {
            font-size: 1em;
        }
        #resume_ {
            width: 35%;
            margin-top: -2%;
            margin-left: 5%;
        }

      /*-------Contact----------*/
      #card_ {
            height: 147px;
            width: 28%;
           
      }
      #card_ i {
            font-size: 1.7em;
      }#card_ i {
            font-size: 2em;
      }
      #pa_ {
            font-size: 1em;
      }
      #contact_ {
            margin-top: 0%; 
            margin-right: 0%; 
        }
     
      #cards_ {
            margin-bottom: 5%;
            gap: 0%;
      }
      #but_p {
            display: flex;
            font-size: 0.8em;
      }
      
}
@media screen and (min-width: 1400px) {
      #hoja_container {
            display: flex;
            justify-content: center;
        }
        #head {
            width: 20%;
            margin-top: -5%;
            margin-left: 5%;
        }
        
        #name_p {
            height: 3em;
            margin-top: -23%;
            font-size: 1.2em;
            border-bottom-right-radius: 1px;
            border-bottom-left-radius: 1px;

      }
      #but_p {
            display: flex;
            font-size: 1.3em;
      }
      /*-----------Resume----------------*/
      #resume_ {
            margin-top: -5%;
            width: 40%;
      }#exp_p, #est_p p, #herr p{
          font-size: 1.2em;   
      }
      #exp_p, #est_p p, #herr p {
            font-size: 1em;
      }.contact_ h1 {
            font-size: 2.3em;
            margin-bottom: 2%;
        }#pa_ {
            font-size: 1.4em;
        }#tit_ {
            font-size: 1.3em;
        }
      
}