<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    
    <div id="head">
        <div id="perfil">
              <div id="img_perfil">
              <img src="../img/perfilD.jpeg" alt="">
              <p id="name_p">David Forero</p>
              </div>
        </div>
        <nav id="nav">
              <div  class="options">
              <button id="butt1"><i class="fa-solid fa-user"></i><p id="but_p">sobre mi</p></button>
              <button id="butt2"><i class="fa-solid fa-box-archive"></i><p id="but_p">Resumen</p></button>
              <button id="butt4"><i class="fa-sharp fa-solid fa-phone"></i><p id="but_p">Contact</p></button>
              </div>
    </nav>

</body>
</html>